[Desktop Entry]
Name=Hyprland
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/home/eldayia/.config/hypr/hyprland-wrapper.sh
Type=Application
